footer
{
	margin-bottom: 2.5%;
}

.content
{
	margin-left: 2.5%;
	margin-right: 2.5%;
	max-width: 85ch;
	word-spacing: 0.2em;
}

p, a
{
	font-size: 1.10em;
	max-width: 75ch;
	font-family: "Cardo", serif;
	font-weight: 400;
	font-style: normal;
}

a
{
	font-size: 1em;
}

h1, h2, h3
{
	font-family: "Cardo", serif;
	font-weight: 700;
	font-style: normal;
}

h1 
{
	font-size: 2em;
}

h2 
{
	font-size: 1.50em;
}

h3
{
	font-size: 1.20em;
}

b
{
	font-family: "Cardo", serif;
	font-weight: 700;
	font-style: normal;
}

i
{
	font-family: "Cardo", serif;
	font-weight: 400;
	font-style: italic;
}

.navbar
{
	display: inline-block;
	width: 100%;
	height: fit-content;
	margin-left: 2.5%;
}

.button
{
	font-size: 1.2em;
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	text-align: center;
	text-decoration: none;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

.button:hover
{
	background-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
}
